* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    background-color: #fff;
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
    color: white;
    background-color: rgb(150, 150, 150);
    /* text-align: -webkit-center; */
}

.avatar {
    float: left;
    margin: 130px;
    border: solid 1px #fff;
}

.avatar span img {
    animation-name: bio-pic;
    animation-duration: 7s;
    animation-fill-mode: forwards;
    /* animation-timing-function: ease-in; */
}

@keyframes bio-pic {
    0% {
        border-radius: 0;
    }
    33% {
        border-radius: 50%;
    }
    50% {
        border-radius: 100%;
    }
    33% {
        border-radius: 50%;
    }
    }
    100% {
        border-radius: 0%;
    }
}

@media only screen and (max-width: 1200px) {
    .hero-text-box {
        position: absolute;
        width: 100%;
        padding: 0 2%;
    }

    .row { padding: 0 2%; }

}

/* Small tablets to big tablets: from 768px - 1023px*/
@media only screen and (max-width: 1023px) {

    margin: 100px;

}




/* Small phones to small tablets: from 481px - 767px */
@media only screen and (max-width: 767px) {


    .title {
        font-size: 50px;
    }

    .index-links {
        margin-top: 50px;
    }

}


/* Small phones: from 0 - 480px */
@media only screen and (max-width: 480px) {

    section {padding: 25px 0; }
    .contact-form {width: 100%; }

}


