* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    height: 100vh;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    color: #555;
}

.clearfix {
    zoom: 1;
}

.clearfix::after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.full-height {
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.tags {
    background: rgba(0, 0, 0);
}

.tags a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #262626;
    font-size: 18px;
    transition: 0.5s;
    color: white;
    background: rgba(0, 0, 0);
}

.tags a:hover {
    background-color: #e91e63;
    color: #fff;
    border-color: #e91e63;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.title {
    font-size: 120px;
    position: relative;
    animation-name: slide;
    animation-duration: 3.5s;
    animation-fill-mode: forwards;
}

@keyframes slide {
    0% {
        left: -1000px;
    }
    100% {
        left: 0;
    }
}

.changes {
    animation-name: color-fade;
    /* animation-delay: 3s; */
    /* animation-iteration-count: infinite; */
}
@keyframes color-fade {
    0% {
        left: -1000px;
    }
    20% {
        color: #b74608;
    }
    40% {
        color: #fae196;
    }
    60% {
        color: #f09431;
    }
    80% {
        color: #7f968d;
    }
    100% {
        left: 0;
        color: white;
    }
}

.links > a {
    color: white;
    padding: 0 25px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    animation-name: links;
    animation-duration: 3.5s;
    animation-fill-mode: forwards;
}

@keyframes links {
    0% {
        left: 1000px;
    }
    20% {
        color: #b74608;
    }
    40% {
        color: #fae196;
    }
    60% {
        color: #f09431;
    }
    80% {
        color: #7f968d;
    }
    100% {
        left: 0;
        /* color: #364d57; */
        color: white;
    }
}

.m-b-md {
    margin-bottom: 30px;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    background: rgb(0, 0, 0);
}

/* Add some content at the bottom of the video/page */
.content {
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    min-width: 100%;
    text-align: center;
}

.btn-link:hover {
    /* background: #e91e63; */
    color: #e91e63;
    /* border-color: #e91e63; */
    text-decoration: none;
    transition-property: transform;
    transition: 0.5s;
}

.links a:hover {
    /* background: #e91e63; */
    color: #e91e63;
    /* border-color: #e91e63; */
    text-decoration: none;
    transition-property: transform;
    transition: 0.5s;
}

footer {
    text-align: center;
    line-height: 8px;
    background-color: #363636;
    clear: both;
    position: absolute;
    bottom: -48px;
    width: 100%;
}

/* Media Queries */

/* Big tablets to 1200px (widths smaller than the 1140px row)*/
@media only screen and (max-width: 1200px) {
    .hero-text-box {
        position: absolute;
        width: 100%;
        padding: 0 2%;
    }

    .row { padding: 0 2%; }

}

/* Small tablets to big tablets: from 768px - 1023px*/
@media only screen and (max-width: 1023px) {
    body { font-size: 18px; }

    section { padding: 60px 0; }

    .long-copy {
        line-height: 145%;
        width: 80%;
        margin-left: 10%;
    }

    .steps-box { margin-top: 10px; }
    .steps-box:last-child { margin-top: 10px; }
    .works-steps { margin-bottom: 40px; }
    .works-steps:last-of-type { margin-bottom: 60px; }

    .app-screen { width: 50%; }

    .icon-small { width: 20px; }
    .city-feature { font-size: 90%; }

    .plan-box {
        width: 100%;
        margin-left: 0%;
    }

    .plan-price { font-size: 250%; }

    .contact-form { width: 80%; }
}




/* Small phones to small tablets: from 481px - 767px */
@media only screen and (max-width: 767px) {


    .title {
        font-size: 50px;
    }

    .index-links {
        margin-top: 40px;
    }

}


/* Small phones: from 0 - 480px */
@media only screen and (max-width: 480px) {

    section {padding: 25px 0; }
    .contact-form {width: 100%; }

}
