html, body {
    background-color: #fff;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
    color: white;
    background-color: black;
}
.full-height {
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.title {
    font-size: 120px;
    position: relative;
    animation-name: title;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes title {
    0% {left: -1000px;}
    100% {left: 0;}

}

.links > a {
    color: white;
    padding: 0 25px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    animation-name: links;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes links {
    0% {left: 1000px;}
    100% {left: 0;}
}

.m-b-md {
    margin-bottom: 30px;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    background: rgb(0, 0, 0);
}

/* Add some content at the bottom of the video/page */
.content {
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    min-width: 100%;
    text-align: center;
}

.btn-link:hover {
    background: #e91e63;
    color: #fff;
    border-color: #e91e63;
    text-decoration: none;
    transition-property: transform;

}